{% extends 'base.html.twig' %}

{% block title %}ClubHippique index{% endblock %}

{% block body %}
    <h1>ClubHippique index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Id_club_hippique</th>
                <th>Capacite_accueil</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for club_hippique in club_hippiques %}
            <tr>
                <td>{{ club_hippique.id }}</td>
                <td>{{ club_hippique.idClubHippique }}</td>
                <td>{{ club_hippique.capaciteAccueil }}</td>
                <td>
                    <a href="{{ path('app_club_hippique_show', {'id': club_hippique.id}) }}">show</a>
                    <a href="{{ path('app_club_hippique_edit', {'id': club_hippique.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_club_hippique_new') }}">Create new</a>
{% endblock %}
