{% extends 'base.html.twig' %}

{% block title %}Cheval index{% endblock %}

{% block body %}
        <a class="btn btn-primary float-right mb-3" href="{{ path('app_cheval_new') }}">Create new</a>


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Race</th>
                <th>Description</th>
                <th>Propietaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cheval in chevals %}
            <tr>
                <td>{{ cheval.id }}</td>
                <td>{{ cheval.nom }}</td>
                <td>{{ cheval.race }}</td>
                <td>{{ cheval.description }}</td>
                <td>{{ cheval.id_propietaire.prenom ?? '' }}</td>
                <td>
                    <a href="{{ path('app_cheval_show', {'id': cheval.id}) }}">show</a>
                    <a href="{{ path('app_cheval_edit', {'id': cheval.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
