{% extends 'base.html.twig' %}

{% block title %}Items index{% endblock %}

{% block body %}
    <h1>Items index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Id_items</th>
                <th>Type</th>
                <th>Niveau</th>
                <th>Description</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.idItems }}</td>
                <td>{{ item.type }}</td>
                <td>{{ item.niveau }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.prix }}</td>
                <td>
                    <a href="{{ path('app_items_show', {'id': item.id}) }}">show</a>
                    <a href="{{ path('app_items_edit', {'id': item.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_items_new') }}">Create new</a>
{% endblock %}
