{% extends 'base.html.twig' %}

{% block title %}Items{% endblock %}

{% block body %}
    <h1>Items</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ item.id }}</td>
            </tr>
            <tr>
                <th>Id_items</th>
                <td>{{ item.idItems }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ item.type }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ item.niveau }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ item.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ item.prix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_items_index') }}">back to list</a>

    <a href="{{ path('app_items_edit', {'id': item.id}) }}">edit</a>

    {{ include('items/_delete_form.html.twig') }}
{% endblock %}
